@charset "EUC-KR";
/*** Section ***/
section{
	overflow:hidden; width: 60%; margin: 0 auto;
}

#login{
	width: 600px; height:250px; margin:0 auto; margin-top: 200px;
	border: 1px solid #e67e22; border-radius:5px; 
	background-color: #FAFBFC;
} 

#form_login{
	width: 600px; text-align: center; padding-top: 30px;
}

.div_label {
	width: 70px; display:inline-block; margin: 10px; text-align: left;
}

#input_id, #input_password{
	font-family: 'Cabin';
}

.login_label {
	font-family: 'Cabin'; font-weight: bold;
}

#div_btn_login{
	margin: 20px;
}

.btn_login{
	width: 235px; margin: 5px; border-radius:5px; padding:3px 0; font-weight:bold;
	background-color: #e67e22; color: white; 
	border:none; position:relative; height:30px; cursor:pointer; 
	transition:800ms ease all; outline:none;
}

.btn_login:hover{
  background:#fff; color:#e67e22;
}

.btn_login:before,.btn_login:after{
  content:''; position:absolute; top:0; right:0; height:2px; width:0;
  background: #e67e22; transition:400ms ease all;
}

.btn_login:after{
  right:inherit; top:inherit; left:0; bottom:0;
}

.btn_login:hover:before,.btn_login:hover:after{
  width:100%; transition:800ms ease all;
}