<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luuzun.ksca.persistence.Cat1DAO">
	
	<resultMap id="cat1HasCat2" type="cat1HasCat2">
		<id property="code" 	column="code1"/>
		<result property="name" column="name1"/>
		<collection property="cat2List" ofType="com.luuzun.ksca.domain.Cat2">
			<id property="code" column="code2"/>
			<id property="cat1" column="cat1"/>
			<result property="name" column="name2"/>
		</collection>
	</resultMap>
	
	<select id="listAll" resultType="Cat1">
		SELECT * From cat1
	</select>
	
	<select id="read" resultType="Cat1">
		SELECT * From cat1 
			WHERE code=#{code} 
	</select>
	
	<select id="listCat1HasCat2" resultMap="cat1HasCat2">
		SELECT 
			c1. code as code1,
			c1. name as name1,
			c2. code as code2,
			c2. name as name2,
			c2. cat1 AS cat1
		  	FROM cat1 c1 LEFT join cat2 c2  
		  		ON c1.code = c2.cat1;
	</select>
	
	<insert id="create">
		INSERT INTO cat1(code, name) VALUES
			(#{code}, #{name})
	</insert>
	
	<update id="update">
		UPDATE cat1	
			<set> 
				<if test="code != null"> code =#{code}, </if>
				<if test="name	= null"> name =#{name}, </if> 
			</set>
			WHERE code=#{destCode};
	</update>
	
	<delete id="delete">
		DELETE FROM cat1 
			WHERE code=#{code};
	</delete>
</mapper>