<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luuzun.ksca.persistence.ManagerDAO">

	<resultMap id="managerHasArea" type="managerHasArea">
		<id property="id" 				column="id"/>
		<result property="pssword" 		column="pssword"/>
		<result property="name" 		column="name"/>
		<result property="tel" 			column="tel"/>
		<result property="mail" 		column="mail"/>
		<collection property="areaList" ofType="com.luuzun.ksca.domain.Area">
			<id property="code" column="code"/>
			<result property="manager" 		column="manager"/>
			<result property="city"		 	column="city"/>
			<result property="cityCode" 	column="city_code"/>
			<result property="gu" 			column="gu"/>
			<result property="guCode" 		column="gu_code"/>
			<result property="branch" 		column="branch"/>
			<result property="branchCode" 	column="branch_code"/>
		</collection>
	</resultMap>

	<select id="listAll" resultType="Manager">
		SELECT * FROM manager 
	</select>

	<select id="read" resultType="Manager">
		SELECT * FROM manager 
			WHERE BINARY(id)=#{id} 
	</select>
	
	<select id="readForLogin" resultType="Manager">
		SELECT * FROM manager 
			WHERE BINARY(id)=#{id} AND BINARY(password)=#{password} AND is_exist=TRUE;
	</select>
	
	<select id="readWaitingManager" resultType="Manager">
		SELECT * FROM manager
			WHERE is_approve=0;
	</select>
	
	<select id="readManagerHasArea" resultMap="managerHasArea">
		SELECT DISTINCT id, name, tel, mail, 
				city, city_code, gu, gu_code
		FROM manager, area
			WHERE BINARY(id)=#{id};
	</select>
	
	<insert id="create">
		INSERT INTO manager(id, password, name, tel, mail) 
			VALUES (#{id}, #{password}, #{name}, #{tel}, #{mail})
	</insert>
	
	<update id="update">
		UPDATE manager 
			<set>
	 			<if test="password != null">	password	=#{password}, </if> 
				<if test="name != null">		name		=#{name}, </if>
				<if test="tel != null">			tel			=#{tel}, </if>
				<if test="mail != null">		mail		=#{mail}, </if>
				<if test="isApprove != null">	is_approve	=#{isApprove}, </if>
				<if test="permission != null">	permission	=#{permission} </if>
			</set>
			WHERE id = #{id}
	</update>
	
	<update id="leave">
		UPDATE manager 
			SET is_exist=FALSE
			WHERE id = #{id}
	</update>
	
	<update id="rejoin">
		UPDATE manager 
			SET is_exist=TRUE
			WHERE id = #{id}
	</update>
	
	
	<delete id="delete">
		DELETE FROM manager WHERE id= #{id}
	</delete>
	
	<update id="updateApproveManager">
		UPDATE manager SET is_approve=1
			WHERE id=#{id};
	</update>
</mapper>