<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luuzun.ksca.persistence.SccDAO">
	<select id="listAll" resultType="SCC">
		SELECT * FROM scc
	</select>
	
	<select id="read" resultType="SCC">
		SELECT * FROM scc 
			WHERE area_code		=#{areaCode}
				AND branch_code	=#{branchCode}
				AND scc_code	=#{sccCode};
	</select>
	
	<select id="readByAreaCode" resultType="SCC">
		SELECT * FROM scc 
			WHERE area_code=#{areaCode};
	</select>
		
	<select id="readByBranchCode" resultType="SCC">
		SELECT * FROM scc 
			WHERE area_code=#{areaCode} 
				AND	branch_code = #{branchCode};
			
	</select>
	
	<insert id="create">
		INSERT INTO scc(area_code, branch_code, scc_code, dong, name, address, reg_date, site, building, member, male, female, own, tel, president, phone) VALUES 
			(#{areaCode}, #{branchCode}, #{sccCode}, #{dong}, #{name}, #{address}, #{regDate}, #{site}, #{building}, #{member}, #{male}, #{female}, #{own}, #{tel}, #{president}, #{phone});
	</insert>
	
	<update id="update">
		UPDATE scc	
			<set>
				<if test="branchCode!=null">branch_code	= #{branchCode},</if>
				<if test="sccCode	!=null">scc_code	= #{sccCode}, 	</if>
				<if test="dong 		!=null">dong		= #{dong},		</if> 
				<if test="name 		!=null">name		= #{name}, 		</if>
				<if test="address 	!=null">address		= #{address}, 	</if>
				<if test="simpleRegDate	!=null">reg_date	= #{simpleRegDate},	</if> 
				<if test="site 		!=null">site		= #{site}, 		</if>
				<if test="building 	!=null">building	= #{building},	</if>
				<if test="member 	!=null">member		= #{member}, 	</if>
				<if test="male 		!=null">male		= #{male}, 		</if>
				<if test="female 	!=null">female		= #{female}, 	</if>
				<if test="own 		!=null">own			= #{own}, 		</if>
				<if test="tel 		!=null">tel			= #{tel}, 		</if>
				<if test="president !=null">president	= #{president}, </if>
				<if test="phone 	!=null">phone		= #{phone}	 	</if>
			</set>
			WHERE area_code		=#{destAreaCode}
				AND branch_code	=#{destBranchCode}
				AND scc_code	=#{destSccCode};
	</update>
	
	<delete id="delete">
		DELETE FROM scc 
			WHERE area_code		=#{areaCode}
				AND branch_code	=#{branchCode}
				AND scc_code	=#{sccCode};
	</delete>
</mapper>