@charset "EUC-KR";

.sccList{
	width: 1750px; margin:0 auto; margin-top: 80px; margin-bottom: 170px;
	border: 1px solid #e67e22; padding: 20px;
	background-color: #FAFBFC; 
} 

#form_div{
	position: fixed; bottom: 33px; left:50%; margin-left:-896px;
	width: 1750px; 
	border: 1px solid #e67e22; padding: 20px;
	background-color: #FAFBFC;
} 

form{
	 overflow: hidden;
}

.scc_list_tr{
	padding:10px; border-bottom: 1px solid #B2B2B2;
}

th{
	padding: 7px; text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #e67e22;
}

td{
	padding: 7px; text-align: center;
}

.save, .close, .modify{
	width: 50px; margin:7px 20px 0 -10px; border-radius:5px; padding:3px 0; font-weight:bold;
	background-color: #e67e22; color: white; border:none; height:25px; float: right;
}

.btn_delete, .btn_modify{
	width: 40px; border-radius:3px; padding:3px 0;
	background-color: #e67e22; color: white; border:none;  
}

.input{
	width: 70%; text-align: center;
}

#p_checkCode {margin-left: 5px;}
/*********  Table Width *********/
.th.code 		{ width : 110px;}
.th.dong		{ width : 80px;}
.th.name		{ width : 200px;}
.th.address		{ width : 320px;}
.th.reg_data	{ width : 85px;}
.th.site		{ width : 60px;}
.th.building	{ width : 60px;}
.th.member		{ width : 45px;}
.th.male		{ width : 65px;}
.th.female		{ width : 65px;}
.th.own			{ width : 55px;}
.th.tel			{ width : 120px;}
.th.president	{ width : 65px;}
.th.phone		{ width : 120px;}

.list.name 		{text-align: left;}
.list.address	{text-align: left;}

.input.branch		{ width : 85px;}
.input.scc_code 	{ width : 33px;}
.input.dong			{ width : 80px;}
.input.name			{ width : 200px;}
.input.address		{ width : 320px;}
.input.reg_data		{ width : 85px;}
.input.site			{ width : 60px;}
.input.building		{ width : 60px;}
.input.member		{ width : 45px;}
.input.male			{ width : 65px;}
.input.female		{ width : 65px;}
.input.own			{ width : 55px;}
.input.tel			{ width : 120px;}
.input.president	{ width : 65px;}
.input.phone		{ width : 120px;}

.input.tel 	 	{ width : 100px;}
.input.phone 	{ width : 100px;}

